@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&family=Open+Sans&family=Oswald&family=Roboto:wght@300&display=swap");
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url(/img/rodion-kutsaiev-pVoEPpLw818-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: antiquewhite;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.above .logo {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}
.above .sign-up-button {
  margin-right: 12rem;
  padding: 1em;
  width: 70px;
  height: 15px;
  margin-top: 1em;
  background-color: transparent;
  border-color: rgba(238, 238, 238, 0.9333333333);
  border-style: solid;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.above .sign-up-button:hover {
  background-color: azure;
  font-family: "Open Sans", sans-serif;
  color: rgb(142, 72, 142);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin-left: 9rem;
}
.main h4 {
  margin-top: 4rem;
}
.main h1 {
  text-transform: capitalize;
  font-size: 65px;
  letter-spacing: 4px;
  margin-top: -1rem;
}
.main .tat-button {
  padding: 1em;
  width: 100px;
  margin-top: 1em;
  background-color: transparent;
  border-color: rgba(238, 238, 238, 0.9333333333);
  border-style: solid;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.main .tat-button:hover {
  background-color: azure;
  font-family: "Open Sans", sans-serif;
  color: rgb(142, 72, 142);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.side-bar {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(142, 72, 142);
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.side-bar .side-bar-a .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  width: 25px;
  height: 25px;
  text-decoration: none;
  padding: 10px;
  margin-left: 1.5rem;
  padding-top: 3rem;
}